<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
"-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

 <vendor>Mageia</vendor>
 <vendor_url>http://www.mageia.org/</vendor_url>

 <action id="org.mageia.manawall.pkexec.run">
     <description>Run Mageia Firewall Configuration</description>
     <description xml:lang="ca">Executa la configuració de tallafoc de Mageia</description>
     <description xml:lang="el">Εκτέλεση της Διαμόρφωσης του Τείχους Προστασίας</description>
     <description xml:lang="et">Mageia tulemüüri seadistamise käivitamine</description>
     <description xml:lang="fr">Lancer l'outil de configuration du Pare-feu de Mageia</description>
     <description xml:lang="id">Jalankan Konfigurasi Firewall Mageia</description>
     <description xml:lang="it">Esegui la configurazione Mageia del Firewall</description>
     <description xml:lang="nl">Start Mageia's Firewallconfiguratie</description>
     <description xml:lang="pt_BR">Executar Configuração Firewall Mageia</description>
     <description xml:lang="ro">Lansează configurarea parafocului pentru Mageia</description>
     <description xml:lang="ru">Запуск настройки файервола</description>
     <description xml:lang="sl">Zagon nastavitev požarnega zidu Mageje</description>
     <description xml:lang="tr">Mageia Güvenlik Duvarı Yapılandırması Çalıştır</description>
     <description xml:lang="uk">Запуск засобу налаштовування захисного шлюзу Mageia</description>
     <description xml:lang="zh_TW">執行 Mageia 防火牆組態設定</description>
     <message>Authentication is required to run Mageia Firewall Configuration</message>
     <message xml:lang="ca">Cal autenticar-se per a executar la configuració de tallafoc de Mageia</message>
     <message xml:lang="el">Απαιτείται πιστοποίηση για την εκτέλεση της Διαμόρφωσης του Τείχους Προστασίας Mageia</message>
     <message xml:lang="et">Mageia tulemüüri seadistamine nõuab autentimist</message>
     <message xml:lang="fr">Une authentification est nécessaire pour lancer l'outil de configuration du Pare-feu de Mageia</message>
     <message xml:lang="id">Otentikasi diperlukan untuk menjalankan Konfigurasi Firewall Mageia</message>
     <message xml:lang="it">È necessaria l'autenticazione per eseguire la configurazione Mageia del Firewall</message>
     <message xml:lang="nl">Authenticatie is nodig om Mageia's Firewallconfiguratie te starten</message>
     <message xml:lang="pt_BR">A autenticação é necessária para executar a configuração do Firewall Mageia</message>
     <message xml:lang="ro">Autentificare necesară pentru lansarea aplicației Mageia de configurat parafocul</message>
     <message xml:lang="ru">Требуется аутентификация для запуска настройки файервола</message>
     <message xml:lang="sl">Za zagon nastavitev požarnega zidu Mageje je potrebno overjanje</message>
     <message xml:lang="tr">Mageia Güvenlik Duvarı Yapılandırması için kimlik doğrulama gerekli</message>
     <message xml:lang="uk">Щоб запустити засіб налаштовування захисного шлюзу Mageia, слід пройти розпізнавання</message>
     <message xml:lang="zh_TW">執行 Mageia 防火牆組態設定需要認證</message>
    <icon_name>drakconf</icon_name>
    <defaults>
     <allow_any>no</allow_any>
     <allow_inactive>no</allow_inactive>
     <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/manawall</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
 </action>
</policyconfig>
