<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
"-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

 <vendor>Mageia</vendor>
 <vendor_url>http://www.mageia.org/</vendor_url>

 <action id="org.mageia.manalog.pkexec.run">
    <description>Run Mageia Log Viewer</description>
    <description xml:lang="ca">Executa el visor de registres de Mageia</description>
    <description xml:lang="el">Εκτέλεση του Προβολέα Καταγραφών Mageia</description>
    <description xml:lang="es">Ejecutar el visor de registros</description>
    <description xml:lang="et">Mageia loginäitaja käivitamine</description>
    <description xml:lang="fr">Visionner les journaux de Mageia</description>
    <description xml:lang="id">Jalankan Penampil Log Mageia</description>
    <description xml:lang="nl">Start Mageia's Logviewer</description>
    <description xml:lang="pl">Przeglądanie Logów</description>
    <description xml:lang="pt_BR">Execultar Leitor de Log Mageia</description>
    <description xml:lang="ro">Lansează vizualizatorul de fișiere jurnal pentru Mageia</description>
    <description xml:lang="ru">Запуск просмотра журналов</description>
    <description xml:lang="sl">Zagon pregledovalnika dnevnikov Mageje</description>
    <description xml:lang="tr">Mageia Günlük Kaydı Görüntüleyici Çalıştır</description>
    <description xml:lang="uk">Запуск засобу перегляду журналу Mageia</description>
    <description xml:lang="zh_TW">執行 Mageia 記錄檔檢視器</description>
    <message>Authentication is required to run Mageia Log Viewer</message>
    <message xml:lang="el">Απαιτείται πιστοποίηση για την εκτέλεση του Προβολέα Καταγραφών Mageia</message>
    <message xml:lang="es">Se necesita autenticación para ejecutar el visor de registros</message>
    <message xml:lang="et">Mageia loginäitaja käivitamine nõuab autentimist</message>
    <message xml:lang="fr">Une authentification est nécessaire pour visionner les journaux de Mageia</message>
    <message xml:lang="id">Otentikasi diperlukan untuk menjalankan Penampil Log Mageia</message>
    <message xml:lang="nl">Authenticatie is nodig om Mageia's Logviewer te starten</message>
    <message xml:lang="pl">Przeglądanie Logów - wymagane uwierzytelnianie</message>
    <message xml:lang="pt_BR">A autenticação é necessária para executar o leitor de Log Mageia</message>
    <message xml:lang="ro">Autentificare necesară pentru lansarea aplicației Mageia de vizualizat fișiere jurnal</message>
    <message xml:lang="ru">Необходима аутентификация для запуска просмотра журналов</message>
    <message xml:lang="sl">Za zagon pregledovalnika dnevnikov Mageje je potrebno overjanje</message>
    <message xml:lang="tr">Mageia Günlük Kaydı Görüntüleyici' yi çalıştırmak için kimlik doğrulama gerekli</message>
    <message xml:lang="uk">Щоб запустити засіб перегляду журналу Mageia, слід пройти розпізнавання</message>
    <message xml:lang="zh_TW">執行 Mageia 記錄檔檢視器需要認證</message>
    <icon_name>drakconf</icon_name>
    <defaults>
     <allow_any>no</allow_any>
     <allow_inactive>no</allow_inactive>
     <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/manalog</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
 </action>
</policyconfig>
