<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
"-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

 <vendor>Mageia</vendor>
 <vendor_url>http://www.mageia.org/</vendor_url>

 <action id="org.mageia.manadm.pkexec.run">
    <description>Run Mageia Login Manager Configuration</description>
    <description xml:lang="ca">Executa la configuració de gestió de l'inici de sessió</description>
    <description xml:lang="el">Εκτέλεση της Διαμόρφωσης του Διαχειριστή Σύνδεσης Mageia</description>
    <description xml:lang="es">Configurar al administrador de acceso</description>
    <description xml:lang="et">Mageia sisselogimishalduri seadistamise käivitamine</description>
    <description xml:lang="fr">Configurer le gestionnaire de connexion Mageia</description>
    <description xml:lang="id">Jalankan Konfigurasi Pengelola Login Mageia</description>
    <description xml:lang="nl">Start Mageia's Login-beheerderconfiguratie</description>
    <description xml:lang="pl">Menadżer Logowania</description>
    <description xml:lang="pt_BR">Execultar Configuração do Gerenciador de Login Mageia</description>
    <description xml:lang="ro">Lansează configurarea gestionarului de autentificare pentru Mageia</description>
    <description xml:lang="ru">Запуск настройки управления входом</description>
    <description xml:lang="sl">Zagon nastavitev upravitelja prijav Mageje</description>
    <description xml:lang="tr">Mageia Giriş Yöneticisi Yapılandırma Çalıştır</description>
    <description xml:lang="uk">Запуск засобу керування входом до Mageia</description>
    <description xml:lang="zh_TW">執行 Mageia 登入管理員設定</description>
    <message>Authentication is required to run Mageia Login Manager Configuration</message>
    <message xml:lang="el">Απαιτείται πιστοποίηση για την εκτέλεση της Διαμόρφωσης του Διαχειριστή Σύνδεσης Mageia</message>
    <message xml:lang="es">Se requiere autenticación para configurar al administrador de acceso</message>
    <message xml:lang="et">Mageia sisselogimishalduri seadistamine nõuab autentimist</message>
    <message xml:lang="fr">Une authentification est nécessaire pour configurer le gestionnaire de connexion Mageia</message>
    <message xml:lang="id">Otentikasi diperlukan untuk menjalankan Konfigurasi Pengelola Login Mageia</message>
    <message xml:lang="nl">Authenticatie is nodig om Mageia's Login-beheerderconfiguratie te starten</message>
    <message xml:lang="pl">Menadżer Logowania - wymagane uwierzytelnianie</message>
    <message xml:lang="pt_BR">A autenticação é necessária para executar a Configuração do Gerenciador de Login Mageia</message>
    <message xml:lang="ro">Autentificare necesară pentru lansarea aplicației Mageia de configurat gestionarul de autentificare</message>
    <message xml:lang="ru">Необходима аутентификация для запуска настройки управления входом</message>
    <message xml:lang="sl">Za zagon nastavitev upravitelja prijav Mageje je potrebno overjanje</message>
    <message xml:lang="tr">Mageia Giriş Yöneticisi Yapılandırması çalıştırmak için kimlik doğrulaması gerekli</message>
    <message xml:lang="uk">Щоб запустити засіб керування входом до Mageia, слід пройти розпізнавання</message>
    <message xml:lang="zh_TW">執行 Mageia 登入管理員設定需要認證</message>
    <icon_name>drakconf</icon_name>
    <defaults>
     <allow_any>no</allow_any>
     <allow_inactive>no</allow_inactive>
     <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/manadm</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
 </action>
</policyconfig>
