<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
"-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

 <vendor>Mageia</vendor>
 <vendor_url>http://www.mageia.org/</vendor_url>

 <action id="org.mageia.manaservice.pkexec.run">
    <description>Run Mageia Service Configuration</description>
    <description xml:lang="ca">Executa la configuració dels serveis de Mageia</description>
    <description xml:lang="el">Εκτέλεση της Διαμόρφωσης Υπηρεσιών Mageia</description>
    <description xml:lang="es">Configuración de servicios</description>
    <description xml:lang="et">Mageia teenuste seadistamise käivitamine</description>
    <description xml:lang="fr">Configurer les services du système Mageia</description>
    <description xml:lang="id">Jalankan Konfigurasi Layanan Mageia</description>
    <description xml:lang="nl">Start Mageia's Dienstenconfiguratie</description>
    <description xml:lang="pl">Konfiguracja Usług</description>
    <description xml:lang="pt_BR">Execultar Configuração de Serviço Mageia</description>
    <description xml:lang="ro">Lansează configurarea seviciilor Mageia</description>
    <description xml:lang="ru">Запуск настройки сервисов</description>
    <description xml:lang="sl">Zagon nastavitev storitev Mageje</description>
    <description xml:lang="tr">Mageia Hizmet Yapılandırması Çalıştır</description>
    <description xml:lang="uk">Запуск засобу налаштовування служб Mageia</description>
    <description xml:lang="zh_TW">執行 Mageia 服務設定</description>
    <message>Authentication is required to run Mageia Service Configuration</message>
    <message xml:lang="el">Απαιτείται πιστοποίηση για την εκτέλεση της Διαμόρφωσης Υπηρεσιών Mageia</message>
    <message xml:lang="es">Se requiere autenticación para configurar los servicios</message>
    <message xml:lang="et">Mageia teenuste seadistamine nõuab autentimist</message>
    <message xml:lang="fr">Une authentification est nécessaire pour configurer les services du système Mageia</message>
    <message xml:lang="id">Otentikasi diperlukan untuk menjalankan Konfigurasi Layanan Mageia</message>
    <message xml:lang="nl">Authenticatie is nodig om Mageia's Dienstenconfiguratie te starten</message>
    <message xml:lang="pl">Konfiguracja Usług - wymagane uwierzytelnianie</message>
    <message xml:lang="pt_BR">A autenticação é necessária para executar o Configuração de Serviço Mageia</message>
    <message xml:lang="ro">Autentificare necesară pentru lansarea configurării serviciilor Mageia</message>
    <message xml:lang="ru">Необходима аутентификация для запуска настройки сервисов</message>
    <message xml:lang="sl">Za zagon nastavitev storitev Mageje je potrebno overjanje</message>
    <message xml:lang="tr">Mageia Hizmet Yapılandırması çalıştırmak için kimlik doğrulaması gerekli</message>
    <message xml:lang="uk">Щоб запустити засіб налаштовування служб Mageia, слід пройти розпізнавання</message>
    <message xml:lang="zh_TW">執行 Mageia 服務設定需要認證</message>
    <icon_name>drakconf</icon_name>
    <defaults>
     <allow_any>no</allow_any>
     <allow_inactive>no</allow_inactive>
     <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/manaservice</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
 </action>
</policyconfig>
