[Desktop Entry]
Name=rpmdragora - Mageia Update
Name[af]=Mageia Opdaterings
Name[ar]=تحديث ماجيّا
Name[ast]=Anovamientu de Mageia
Name[az]=Mageia Update
Name[bg]=Mageia обновяване
Name[bn]=Mageia Update
Name[br]=Bremanaat Mageia
Name[bs]=Mageia Update
Name[ca]=Actualització de Mageia
Name[cs]=Mageia Update
Name[cy]=Diweddaru Mageia
Name[da]=Mageia Opdatér
Name[de]=Mageia-Update
Name[el]=Ενημέρωση Mageia
Name[eo]=Mageia-Ĝisdatigo (Mandriva Update)
Name[es]=Actualización de Mageia
Name[et]=Mageia uuendused
Name[eu]=Mageia Update
Name[fa]=بروزسازی ماندریبا
Name[fi]=Mageia Update
Name[fr]=rpmdragora - Mise à jour de Mageia
Name[fur]=Mageia Update
Name[gl]=Actualización de Mageia
Name[he]=עדכון Mageia
Name[hi]=मैनड्रिव लिनक्स अपडेट
Name[hu]=Mageia-frissítés
Name[id]=Update Mageia
Name[is]=Mageia Uppfærsla
Name[it]=rpmdragora - Mageia Update
Name[ja]=Mageia アップデート
Name[ko]=맨드리바 업데이트
Name[ky]=Mageia жаңылоосу
Name[ltg]=Mageya atjaunynuošona
Name[lv]=Mageia atjaunināšana
Name[mk]=Mageia Ажурирање
Name[ms]=Mageia Update
Name[mt]=Aġġornament Mageia
Name[nb]=Mageia oppdatering
Name[nl]=Mageia Vernieuwen
Name[nn]=Oppdater programvare
Name[pa_IN]=ਮੈਂਡਰਿਵ ਲੀਨਕਸ ਨਵੀਨੀਕਰਨ
Name[pl]=Aktualizacja Mageia
Name[pt]=Actualização Mageia
Name[pt_BR]=Mageia Update
Name[ro]=Actualizări Mageia
Name[ru]=Обновление Mageia
Name[sc]=Mageia Update
Name[sk]=Mageia Update
Name[sl]=Mageia posodobitev
Name[sq]=Azhurnimi Mageia
Name[sr]=Маgeiа Надоградња
Name[sr@Latn]=Mageia Nadogradnja
Name[sv]=Uppdatera Mageia
Name[ta]=மாண்ட்ேரக் புதுப்பித்தல்
Name[tg]=Навигарии Mageia
Name[th]=อัพเดทของ Mageia
Name[tl]=Mageia Update
Name[tr]=Mageia Güncelleme
Name[uk]=Mageia Update
Name[uz]=Mageia tizimini yangilash
Name[uz@cyrillic]=Mageia тизимини янгилаш
Name[vi]=Cập Nhật Mageia
Name[wa]=Metaedjes a djoû di Mageia
Name[zh_CN]=Mageia 更新
Name[zh_TW]=Mageia 更新
Icon=mageiaupdate
Exec=mana update
Terminal=false
Type=Application
Categories=X-MandrivaLinux-CrossDesktop;System;PackageManager;
StartupNotify=false

