[Desktop Entry]
Name=manaproxy
Comment=AdminPanel proxy manager
Exec=pkexec /usr/bin/manaproxy
Icon=manaproxy
Type=Application
StartupNotify=true
Categories=System;X-MandrivaLinux-CrossDesktop;
