[Desktop Entry]
Name=manauser
Comment=AdminPanel user manager
Exec=pkexec /usr/bin/manauser
Icon=manauser
Type=Application
StartupNotify=true
Categories=System;X-MandrivaLinux-CrossDesktop;
