[Desktop Entry]
Name=manaproxy
Comment=AdminPanel proxy manager
Exec=mana proxy
Icon=/usr/share/icons/manaproxy.png
Type=Application
StartupNotify=true
Categories=System;X-MandrivaLinux-CrossDesktop;
