[Desktop Entry]
Name=manalog user mode
Comment=AdminPanel log viewer
Exec=/usr/bin/manalog
Icon=logdrake-mdk
Type=Application
StartupNotify=true
Categories=System;X-MandrivaLinux-CrossDesktop;

