[Desktop Entry]
Name=manaclock
Comment=ManaTools clock manager
Exec=mana clock
Icon=/usr/share/icons/manaclock.png
Type=Application
StartupNotify=true
Categories=System;X-MandrivaLinux-CrossDesktop;

