[Desktop Entry]
Name=manaservice
Comment=ManaTools service manager
Exec=mana service
Icon=/usr/share/icons/manaservice.png
Type=Application
StartupNotify=true
Categories=System;X-MandrivaLinux-CrossDesktop;
