[Desktop Entry]
Name=manalog admin mode
Comment=AdminPanel log viewer
Exec=pkexec /usr/bin/manalog
Icon=manalog
Type=Application
StartupNotify=true
Categories=System;X-MandrivaLinux-CrossDesktop;

