[Desktop Entry]
Name=manauser
Comment=AdminPanel user manager
Exec=mana user
Icon=/usr/share/icons/manauser.png
Type=Application
StartupNotify=true
Categories=System;X-MandrivaLinux-CrossDesktop;
