[Desktop Entry]
Name=manaservice
Comment=AdminPanel service manager
Exec=pkexec /usr/bin/manaservice
Icon=manaservice
Type=Application
StartupNotify=true
Categories=System;X-MandrivaLinux-CrossDesktop;
