[Desktop Entry]
Name=manaproxy
Comment=AdminPanel proxy manager
Exec=pkexec /usr/bin/manauser
Icon=drakproxy-mdk
Type=Application
StartupNotify=true
Categories=System;X-MandrivaLinux-CrossDesktop;
