[Desktop Entry]
Name=manadm
Comment=ManaTools login manager configuration
Exec=mana dm
Icon=/usr/share/icons/manadm.png
Type=Application
StartupNotify=true
Categories=System;X-MandrivaLinux-CrossDesktop;

