[Desktop Entry]
Name=manawall
Comment=AdminPanel firewall configurator
Exec=mana wall
Icon=/usr/share/icons/manawall.png
Type=Application
StartupNotify=true
Categories=System;X-MandrivaLinux-CrossDesktop;
