[Desktop Entry]
Name=manaclock
Comment=AdminPanel user manager
Exec=pkexec /usr/bin/manaclock
Icon=time-mdk
Type=Application
StartupNotify=true
Categories=System;X-MandrivaLinux-CrossDesktop;

