[Desktop Entry]
Name=manahost
Comment=AdminPanel host manager
Exec=pkexec /usr/bin/manahost
Icon=manahost
Type=Application
StartupNotify=true
Categories=System;X-MandrivaLinux-CrossDesktop;

