[Desktop Entry]
Name[eu]=manauser
Name[el]=manauser
Name[ro]=manauser
Name[cy]=manauser
Name[et]=manauser
Name[sl]=manauser
Name[nl]=manauser
Name[sk]=manauser
Name[tr]=manauser
Name[sv]=manaanvändare
Name[pt_BR]=mana usuário
Name[de]=manauser
Name[fr]=manauser
Name[cs]=manauser
Name[uk]=manauser
Name[es]=manauser
Name[ru]=manauser
Name=manauser
Comment=ManaTools user manager
Exec=mana user
Icon=/usr/share/icons/manauser.png
Type=Application
StartupNotify=true
Categories=System;X-MandrivaLinux-CrossDesktop;
