[Desktop Entry]
Name=manalog user mode
Comment=AdminPanel log viewer
Exec=/usr/bin/manalog
Icon=/usr/share/icons/manalog.png
Type=Application
StartupNotify=true
Categories=System;X-MandrivaLinux-CrossDesktop;

