[Desktop Entry]
Name=manahost
Comment=AdminPanel host manager
Exec=mana host
Icon=/usr/share/icons/manahost.png
Type=Application
StartupNotify=true
Categories=System;X-MandrivaLinux-CrossDesktop;

