[Desktop Entry]
Name=Mageia AdminPanel
Comment=Administration panel - application launcher
Exec=mana pan
Icon=/usr/share/icons/mpan.png
Type=Application
StartupNotify=true
Categories=System;X-MandrivaLinux-CrossDesktop;
