[Desktop Entry]
Name=Mageia AdminPanel
Comment=Administration panel - application launcher
Exec=pkexec /usr/bin/mpan.pl
Icon=mpan
Type=Application
StartupNotify=true
Categories=System;X-MandrivaLinux-CrossDesktop;
