[Desktop Entry]
Name=rpmdragora - Install & Remove Software
Name[ar]=تثبيت وإزالة البرامج
Name[ast]=Instalar y desaniciar software
Name[bg]=Инсталиране и премахване на софтуер
Name[br]=Staliañ ha distaliañ poelladoù
Name[ca]=Instal·la i elimina programari
Name[cs]=Instalovat a odebrat software
Name[cy]=Gosod a Thynnu  Meddalwedd
Name[da]=Installér og fjern programmel
Name[de]=Installieren & Entfernen von Software
Name[el]=Εγκατάσταση & απεγκατάσταση λογισμικού
Name[eo]=Instali kaj Forigi Programojn
Name[es]=Instalar y Quitar Aplicaciones
Name[et]=Tarkvara paigaldamine ja eemaldamine
Name[eu]=Softwarea instalatu eta ezabatu
Name[fi]=Asenna ja poista ohjelmia
Name[fr]=rpmdragora - Installer et désinstaller des logiciels
Name[gl]=Instalar & Eliminar Software
Name[he]=התקנת והסרת תוכנה
Name[hu]=Szoftver telepítése, illetve eltávolítása
Name[id]=Install & Hapus Software
Name[is]=Setja inn og fjarlægja hugbúnað
Name[it]=rpmdragora - Installa e rimuovi software
Name[ja]=RPM をインストール/アンインストール
Name[ky]=Программаны орнотуу жана өчүрүү
Name[ltg]=Instalēt & Nūjimt programmaturu
Name[ms]=Pasang & Buang Perisian
Name[nb]=Installer og fjern programvare
Name[nl]=Software installeren & verwijderen
Name[nn]=Installer og fjern programvare
Name[pl]=Instalacja i usuwanie oprogramowania
Name[pt]=Gestor de Programas
Name[pt_BR]=Instalar e Remover Programas
Name[ro]=Instalați & Înlăturați aplicații
Name[ru]=Установка и удаление программ
Name[sl]=Namesti in odstrani programsko opremo
Name[sv]=Installera & Ta bort program
Name[tr]=Yazılım Kur & Kaldır
Name[uk]=Встановити і вилучити програми
Name[uz]=Dasturlarni oʻrnatish va olib tashlash
Name[uz@cyrillic]=Дастурларни ўрнатиш ва олиб ташлаш
Name[zh_CN]=安装/删除软件
Name[zh_TW]=安裝與移除軟體
Icon=rpmdrake
Exec=mana rpm
Comment=A graphical front end for installing, removing and updating packages
Comment[ar]=واجهة رسومية لتثبيت الحزم وإزالتها وتحديثها
Comment[ast]=Una interface gráfica pa instalar, desaniciar y anovar paquetes
Comment[br]=Un etrefas evit staliañ, distaliañ ha bremanaet pakadoù
Comment[cs]=Grafický nástroj pro instalaci, odstranění a aktualizaci balíčků
Comment[cy]=Gwyneb graffigol ar gyfer pori pecynnau sydd wedi eu gosod ac sydd ar gael
Comment[da]=En grafisk brugergrænseflade for installering, fjernelse og opdatering af programpakker.
Comment[de]=Eine grafische Benutzerschnittstelle zum Installieren, Entfernen und Updaten von Paketen
Comment[el]=Μια εφαρμογή για εγκατάσταση, αφαίρεση και ενημέρωση πακέτων
Comment[eo]=Grafika fasado por instali, forigi kaj ĝisdatigi pakaĵojn
Comment[es]=Una interfaz gráfica para instalar, desinstalar y actualizar paquetes
Comment[et]=Tarkvara paigaldamise, eemaldamise ja uuendamise graafiline kasutajaliides
Comment[eu]=Paketeak instalatu, ezabatu eta eguneratzeko bitarteko grafiko bat
Comment[fi]=Graafinen käyttöliittymä pakettien asentamiseen, päivittämiseen ja poistamiseen.
Comment[fr]=Une interface graphique pour installer, supprimer et mettre à jour les paquetages
Comment[gl]=Unha interface gráfica para instalar, eliminar e actualizar paquetes
Comment[he]=מנשק גרפי להתקנת, הסרת ועדכון חבילות
Comment[hu]=Grafikus felület csomagok telepítéséhez, törléséhez és frissítéséhez
Comment[id]=Front end grafis untuk menginstall, menghapus dan mengupdate paket
Comment[is]=Grafískt viðmót til að setja inn, fjarlægja og uppfæra hugbúnað
Comment[it]=Un'interfaccia grafica per installare, rimuovere e aggiornare pacchetti
Comment[ja]=RPM パッケージのインストール、アンインストール、更新を行うためのグラフィカルフロントエンド
Comment[ky]=Пакеттерди орнотуу, өчүрүү жана жаңылоо графикалык интерфейси
Comment[mk]=Графички интерфејс за инсталирање, отстранување и ажурирање на пакети
Comment[ms]=Antara depan bergrafik untuk memasang, membuang dan mengemaskini pakej
Comment[nb]=Grafisk grensesnitt for installering, fjerning og oppdatering av pakker.
Comment[nl]=Een grafische schil voor het installeren, verwijderen en bijwerken van pakketten
Comment[nn]=Eit grafisk brukargrensesnitt for installering, fjerning og oppdatering av programpakkar.
Comment[pl]=Graficzny program do instalowania, usuwania i aktualizowania pakietów
Comment[pt]=Um interface gráfico para instalar, remover e actualizar pacotes
Comment[pt_BR]=Uma Interface gráfica para instalar, remover e atualizar Programas
Comment[ro]=O interfață grafică pentru instalarea, înlăturarea și actualizarea pachetelor
Comment[ru]=Графический интерфейс для установки, удаления и обновления пакетов
Comment[sl]=Grafični vmesnik za nameščanje, odstranjevanje in posodabljanje paketov
Comment[sv]=Ett grafiskt gränssnitt för installation, borttagning och uppdatering av paket
Comment[tr]=Paketleri kurmak, güncellemek ve kaldırmak için bir grafik ön yüz
Comment[uk]=Графічний інтерфейс для встановлення, вилучення і поновлення пакунків
Comment[zh_CN]=安装、删除和更新软件包的图形化工具
Comment[zh_TW]=安裝、移除與更新套件
Terminal=false
Type=Application
Categories=X-MandrivaLinux-CrossDesktop;System;PackageManager;
StartupNotify=false
